.ventana{
    -fx-background-image: url("img/Hot-Dogs.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;

}

.transparente{
    -fx-background-color: rgb(0,0,0,0);
}

#titulo{
    -fx-font-size: 40px;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
}

#info{
    -fx-padding: 10;
}

.table-view .table-cell:selected {
    -fx-border-color: transparent;
    -fx-text-background-color: red;
    -fx-padding: 10px;
}
